.banners {
  @at-root #{&}__container {
    width: 258px;
    height: 180px;

    @at-root #{&}--img {
      background-color: rgb(255, 255, 255);
      background-position: center center;
      background-repeat: no-repeat;
      background-size: cover;
    }
  }

  @at-root #{&}__box-container {
    transform: translateY(153px);
    padding-top: 3px;
    padding-bottom: 3px;

    @at-root #{&}--bg-blue {
      background-color: rgb(52,152,219);
    }

    @at-root #{&}--bg-orange {
      background-color: rgb(255, 123, 0);
    }

    @at-root #{&}--bg-magenta {
      background-color: rgb(251, 0, 255);
    }

    @at-root #{&}--font {
      font-size: 14px;
      font-family: $font-abel;
    }
  }
}