.content {
  border: 1px solid rgb(224, 224, 224);
  padding: 1.5rem;

  @at-root #{&}__title {
    font-family: $font-cantarell;

    @at-root #{&}--color {
     color: #6e6e6e;
    }
  }

  @at-root #{&}__description {
    font-family: $font-cantarell;
    font-size: 14px;

    @at-root #{&}--color {
      color: #6e6e6e;
    }

  }
}