$body-bg: #fff;
$white: #fff;


/// Abel font family
$font-abel: 'Abel', sans-serif;
$font-cabin: 'Cabin', sans-serif;
$font-cantarell: 'Cantarell', sans-serif;

/// @type List
$navbar-light-color: rgba($white, 1) !default;


// Responsiveness
// 991, 1192, and 1384 have been chosen because they are divisible by both 12 and 16
$tablet: 767px !default
// 991px container
$desktop: 991px !default
// 1192px container
$widescreen: 1192px !default
// 1384px container
$fullhd: 1384px !default

/// Relative or absolute URL where all assets are served from
/// @type String
/// @example scss - When using a CDN
/// $base-url: 'http://cdn.example.com/assets/';
$base-url: '~assets/' !default;